<div class="container">
  <div class="wrapper col-md-10 col-md-offset-1 col-sm-10">
    
    <p><%= notice %></p>
    
    <div class="textbox col-md-3" >
      <h4>ぼやき一覧です</h4>
      <p>Twitterのオマージュアプリ。Boyatterです。</p>
      <p>新しいぼやきは<%= link_to "こちら", new_boyatter_path %> から。</p>
       
    </div>
    <div class="boyaki col-md-6" >
      <% @boyatters.each do |boyatter| %>
        <div class="row">
          <p>本文:<%= boyatter.content %></p>
          <%= link_to "編集する", edit_boyatter_path(boyatter.id), class: 'btn btn-default btn-sm btn-success' %>
          <%= link_to '削除する', boyatter_path(boyatter.id), method: :delete, data: { confirm: '本当に削除していいですか？' },class: 'btn btn-default btn-sm btn btn-danger' %>
        </div>
      <% end %>
    </div>  
  </div>
</div>

